body {
  font-family: "Courier New", Courier, monospace;
}

.input-field {
  color: rgb(245, 245, 245);
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  background-color: #3a3a3a;
  outline: 2px solid transparent;
}
.quiz-question {
  color: rgb(231, 187, 64);
  position: relative;
  border-radius: 4px;
  margin-left: 20px;
  width: auto;
}
